.picture-box {
    height: calc(300px + 1em);
    margin-bottom: 1em;
    padding: 1em;
    background: gray;
    display: inline-block;
}

.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
}

.quote {
    font-style: italic;
}

.author {
    text-align: right;
}

.author::before {
    /* This is a pseudo-element selector that selects and styles the virtual content inserted before the actual content of the selected element */
    content: " - "
}


#picture img {
    width: 400 px;
    height: 100%;
}