.players {
    width: 100%;
}

.player-name {
    Color: white;
}

#player-messages {
    padding-top: 0.25 em;
    opacity: 0.7;
}

.event {
    color: gray;
}

.player-event {
    color: skyblue;
}

.player-data {
    color: white;
}

.system-event {
    color: orange;
}

.game {
    width: 80 vw;
    height: 80 vw;
    min-width: 350px;
    min-height: 350px;
    max-width: min(80vmin, 1000px);
    max-height: min(80vmin, 1000px);

}

.game-timer{
    justify-content:flex;
}


button {
    background-color: black;
    text-align: center;
}

button:active {
    background-color: aquamarine;
    color: coral;
}

.reset-time {
    background-color: white;
    padding: 0px;
    justify-content:left;
    background-color: white;
}

.button-container {
    justify-content:space-evenly;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 90%;
    height: 90%;
}

@media (max-height: 600px){
    .reset-time {
        display: none;
    }
    .game-timer {
        display: none;
    }

    .players {
        display: none
    }
}